.container {
	min-width: 120px;
}

.item {
	width: max-content;
	padding: 0 4px;
	border-radius: 6px;
	transition: transform 1s;
}

.loading {
	pointer-events: none;
	width: 10px;
	margin-left: 10px;
	animation: loader 0.5s infinite;
}

@keyframes loader {
	from {
		transform: rotateZ(90deg);
	}
	to {
		transform: rotateZ(450deg);
	}
}
