@import url('/src/app/styles/breakpoints.css');

.layout {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.layoutDesktop {
	min-width: 545px;
	padding: 0 14px;

	@media (--m-viewport) {
		padding: 0 14px;
	}
}

.layoutMobile {
	padding-left: 30px;
	padding-right: 10px;
}

.header {
	display: flex;
	flex-direction: column;
	margin-top: 36px;
}

.headerTop {
	display: grid;
	grid-template-columns: 220px auto 100px;
	height: 50px;
	position: sticky;
	top: 0;
	left: 0;

	@media (--m-viewport) {
		grid-template-columns: minmax(160px, 220px) auto 100px;
	}
}

.headerBottom {
}

.contentDesktop {
	display: grid;
	grid-template-columns: 220px auto;
	column-gap: 40px;
	row-gap: 20px;
	flex: 1;

	overflow: hidden;

	padding-right: 10px;

	@media (--m-viewport) {
		grid-template-columns: 1fr 4fr;
	}
}

.contentMobile {
	display: flex;
	flex-direction: column;
	gap: 40px;

	padding-right: 10px;

	overflow: auto;
}

.sidebar {
}

.main {
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: auto;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1 / -1;

	height: 60px;
}
