.container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.title {
	margin-bottom: 40px;
}

.table {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: max-content;
}

.info {
	display: grid;
	grid-template-columns: 140px 200px;
	column-gap: 20px;
}
